---
import Layout from '../layouts/Layout.astro';
import { getAllPosts } from '../utils/loadPosts';

export async function getStaticPaths() {
  return getAllPosts().map(({ folder }) => ({
    params: { folder },
  }));
}

const { folder } = Astro.params;
const { Content } = await import(`../../content/${folder}/sketch.mdx`);
---

<Layout title={folder}>
  <h1>{folder}</h1>
  <Content />
</Layout>
