---
import { getAllPosts } from '../utils/loadPosts.js';
import Navigation from '../components/Navigation.astro';

export async function getStaticPaths() {
  const posts = getAllPosts();
  return posts.map((post) => ({ params: { folder: post.folder } }));
}

const { folder } = Astro.params;
const posts = getAllPosts();
const currentPost = posts.find((post) => post.folder === folder);

if (!currentPost) {
  throw new Error(`Post not found for folder: ${folder}`);
}
---

<Navigation />

<h2>{currentPost.folder}</h2>

<div>
  <article>
    <Fragment set:html={currentPost.content} />
  </article>
</div>
