---
import Layout from '../layouts/Layout.astro';
import { getAllPosts } from '../utils/loadPosts.js';
const posts = getAllPosts();
---
<Layout title="Home">
  <h2>Welcome to Your Digital Sketchbook</h2>
  <p>Below are some sketches:</p>
  <ul>
    {posts.map(post => (
      <li><a href={`/${post.folder}`}>{post.folder}</a></li>
    ))}
  </ul>
</Layout>
