<!-- file: src\pages\index.astro -->
---
import Layout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';

const sketches = await getCollection('sketches');
const folders = [...new Set(sketches.map(sketch => {
  const parts = sketch.slug.split('/');
  return parts[0];
}))];
---

<Layout title="">
  <div class="body">
    <h2>digital sketchbook</h2>
    <p>sketches:</p>
    <ul>
      {folders.map((folder) => (
        <li>
          <a href={`./${folder}`}>{folder}</a>
        </li>
      ))}
    </ul>
  </div>
</Layout>