<!-- file: src\pages\index.astro -->
---
import Layout from "../layouts/Layout.astro";
import { getAllPosts } from "../utils/loadPosts";

// Fetch all posts/sketches
const posts = getAllPosts();
---

<Layout title="">
  <div class="body">
  <h2>digital sketchbook</h2>
  <p>sketches:</p>
  <ul>
    {/* Dynamically generate list items for each post/sketch */}
    {
      posts.map((post) => (
        <li>
          <a href={`/${post.folder}`}>{post.folder}</a>
        </li>
      ))
    }
  </ul>
  </div>
</Layout>
