---
// src/pages/index.astro
import { getAllPosts } from '../utils/loadPosts.js';
import Navigation from '../components/Navigation.astro';

const posts = getAllPosts();
---

<Navigation />

## Welcome to Your Digital Sketchbook
Below are some sketches:

<ul>
  {posts.map((post) => (
    <li>
      <a href={`/${post.folder}`}>{post.folder}</a>
    </li>
  ))}
</ul>
