---
import { getCollection } from 'astro:content';

// Get all sketches
const sketches = await getCollection('sketches');

// Get unique folder names
const folders = [...new Set(sketches.map((sketch: { slug: string; }) => {
  const parts = sketch.slug.split('/');
  return parts[0];
}))];

// Environment detection
const isProd = import.meta.env.PROD;
const isPreview = typeof window !== 'undefined' && window.location.port === '4322';
const prefix = isProd && !isPreview ? '/astro-rd3-sketchbook' : '';
---

<div class="layout-grid">
  <nav class="vertical-nav">
    <button class="expand-button" aria-label="Toggle-Sidebar" aria-expanded="false"></button>
    <ul>
      <li><a href={`${prefix}/`}><i></i><span class="entry-name">Home</span></a></li>
      {folders.map(folder => (
        <li>
          <a href={`${prefix}/${folder}`}>
            <i></i>
            <span class="entry-name">{folder}</span>
          </a>
        </li>
      ))}
    </ul>
  </nav>
</div>

<script>
  function setupNavigation() {
    const nav = document.querySelector('.vertical-nav');
    const expandButton = document.querySelector('.expand-button');
    if (nav && expandButton) {
      expandButton.addEventListener('click', () => nav.classList.toggle('expanded'));
    }
  }

  // Run on initial load
  setupNavigation();

  // Run on subsequent navigations
  document.addEventListener('astro:after-swap', setupNavigation);
</script>