---
// src/components/Navigation.astro
import SketchFolders from './SketchFolders.astro';

// No need for getCollection here anymore as it's handled in SketchFolders
---

<div class="layout-grid">
    <nav class="vertical-nav">
        <button class="expand-button" aria-label="Toggle-Sidebar" aria-expanded="false"></button>
        <SketchFolders type="navigation" />
    </nav>
</div>

<script>
    function setupNavigation() {
        const nav = document.querySelector('.vertical-nav');
        const expandButton = document.querySelector('.expand-button');
        if (nav && expandButton) {
            expandButton.addEventListener('click', () => {
                nav.classList.toggle('expanded');
                const isExpanded = nav.classList.contains('expanded');
                expandButton.setAttribute('aria-expanded', isExpanded.toString());
            });
        }
    }

    // Run on initial load
    setupNavigation();

    // Run on subsequent navigations
    document.addEventListener('astro:after-swap', setupNavigation);
</script>