---
export interface Props {
  src: string;
  id: string;
}

const { src, id } = Astro.props;
const scripts = import.meta.glob('/content/**/*.js', { query: '?raw', import: 'default' });
const scriptPath = `/content/${src}`;
const scriptContent = scripts[scriptPath] ? await scripts[scriptPath]() : '';
---
<div id={id}></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.10.0/p5.min.js" crossorigin="anonymous"></script>
<script define:vars={{ scriptContent }}>
  eval(scriptContent);
</script>