---
// src/components/SketchWrapperESM.astro
import { getCollection } from 'astro:content';

interface Props {
    src: string;
    id: string;
}

const { src, id } = Astro.props;

const sketches = await getCollection('sketches');
const scripts = import.meta.glob<string>('/src/content/sketches/**/*.{js,ts}', {
    query: '?raw',
    import: 'default'
});

// Find the sketch entry from collection
const sketch = sketches.find((sketch: { id: string; }) => sketch.id.endsWith(`/${src}`));

// Get the raw file content using the full path
const scriptPath = Object.keys(scripts).find(path => path.endsWith(`/${src}`));
---

<div id={id}></div>
<script define:vars={{ scriptPath }}>
    import(scriptPath);
</script>