<!-- filename: "ThreeSketch.astro" -->
---
export interface Props {
  src: string;
  id: string;
}

const { src, id } = Astro.props;
const scripts = import.meta.glob('/content/**/*.{js,ts}', { query: '?raw', import: 'default' });
const scriptPath = `/content/${src}`;
const scriptContent = scripts[scriptPath] ? await scripts[scriptPath]() : '';
---
<div class="three-container" id={id}></div>
<script type="module" define:vars={{ scriptContent }}>
  import * as THREE from "https://cdn.jsdelivr.net/npm/three@0.169.0/+esm";
  window.THREE = THREE;
  
  console.log('Three.js attached to window:', window.THREE);

  // Execute the Three.js script content
  {scriptContent}
</script>
